@font-face {
    font-family: "cloudBold";
    src: url("../fonts/cloudBold.otf") format("opentype");
}
@font-face {
    font-family: "cloudLight";
    src: url("../fonts/cloudLight.otf") format("opentype");
}