*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    color: #c1c1c1;
    fill: #c1c1c1;

    font-family: cloudLight, sans-serif;
}

body{
    background-color: #24313c;
}

#form{
    float: left;

}

.everything{
    position: relative;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    min-height: 10em;
    width: 450px;
}

.title{
	text-align: center;
	font-family: cloudBold, sans-serif;
	font-size: 3em;
	margin-top: 8px;
	margin-bottom: 10px;
	
}

.table{
	font-weight: bold;
}

.button{
	background-color: #6d6d6d;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0;
	
}
.button {border-radius: 10%;}

.triangle{
    margin-left: 30px;
}

svg{
    border: 1px solid black;
}

input{
    background-color: #24313c;
    border: 1px solid #c1c1c1;
}

@keyframes hide {
    0%   {}
    100% {opacity: 0}
}
@keyframes shrink {
    0%   {}
    100% {
        margin: 0;
        padding: 0;
        height: 0;
    }
}
#msglist{
    position: fixed;
    width: 200px;
    right: 0;
    top: 0;
    list-style-type: none;
    /*border: 1px solid black;*/
    margin: 10px 10px;
    padding: 0;
}

#msglist > .msg {
    background-color: #000000;
    width: 100%;
    /*height: 30px;*/
    text-align: center;
    border: 1px solid black;
    margin: 0 0 20px 0;

    /* animation starts after 10 sec */
    animation-name: hide, shrink;
    animation-duration: 0.5s, 1.5s;
    animation-delay: 8s, 8.5s;
    animation-fill-mode: forwards, forwards;
    padding:4px 0;
}
#msglist > .msg > span{
    color: #ffffff;
    margin: 0;
    font-size: 16px;
    padding: 0;
}